.DS_Store
__pycache__
bundestag_gesetze_part1.jsonl
bundestag_gesetze_part2.jsonl
bundestag_gesetze_part3.jsonl
bundestag_gesetze_part1.jsonl.faiss
bundestag_gesetze_part2.jsonl.faiss
bundestag_gesetze_part3.jsonl.faiss
opensearch_data
a/.DS_Store
b/.DS_Store
c/.DS_Store
d/.DS_Store
e/.DS_Store
f/.DS_Store
g/.DS_Store
h/.DS_Store
i/.DS_Store
j/.DS_Store
k/.DS_Store
l/.DS_Store
m/.DS_Store
n/.DS_Store
o/.DS_Store
p/.DS_Store
q/.DS_Store
r/.DS_Store
s/.DS_Store
t/.DS_Store
u/.DS_Store
v/.DS_Store
w/.DS_Store
x/.DS_Store
y/.DS_Store
z/.DS_Store
*~
gesetze-tools
.venv
.vscode/launch.json
