name: Daily Update

on:
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * *"

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  update-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install build deps for lxml
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libxml2-dev libxslt1-dev \
            python3-dev gcc build-essential
            
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Changing git settings
        run: |
          git config --global user.name 'thunderquack'
          git config --global user.email ${{ secrets.GH_EMAIL }}
          git pull --rebase

      - name: Set up Git with new token
        run: |
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/thunderquack/bundestag_gesetze.git

      - name: Run update script
        run: python update.py

      - name: Commit and push changes
        run: |
          git config --global user.name 'thunderquack'
          git config --global user.email ${{ secrets.GH_EMAIL }}
          git add .
          git commit -m "$(date +%F) data" || echo "No changes to commit"
          git push